$nav-color:#0099ff;
$nav-active-color:#19a3ff;
$nav-hover-color:#32adff;


.nav {
  height: 100%;
  width: 220px;
  background-color:$nav-color;
  font-size:13px;
  &__nivA {
    &__item {}
  }
  &__link {
    color:#ffffff;
    height:46px;
    line-height:46px;
    cursor:pointer;
    padding:0 0 0 25px;
    display:block;
    &:hover {
      text-decoration:none;
      background-color:$nav-hover-color;
    }
    &.active {
      background-color:$nav-active-color;
    }
    i {
      margin:0 10px 0 0;
    }
    &__arrow {
      float:right;
      &:before {
        content: "\f104";
      }
    }
  }
  &__nivB {

    &__item {
      .nav__link {
        padding: 0 0 0 60px;
      }
    }
  }

}

a:not([href]):not([tabindex]) {
  color:#fff;
}


ori-navigation-root {
  height:100%;
}

ori-page-root {
  height:100%;
}
